<h1>Your Order</h1>
<span class='order-page'>
  <% @orders.carted_products.each do |carted_product| %>
    <div class='row'>
      <div class='col-xs-12 col-sm-4'>
        <h2><%= carted_product.product.name %></h2>
        <p>Quantity: <%= carted_product.quantity %></p>
      </div>
    </div>
  <% end %>  
</span>